:root {
    --light-sage: #D7DACE;
    --pale-peach: #FFE9B3;
    --golden-apricot: #FFC176;
    --olive-drab: #ADB87F;
    --light-lemon: #FFDC74;
    --deep-forest-green: #59685C;
}

body {
    /* background-image: url('/src/assets/istockphoto-1473100428-2048x2048.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; */
    background-color: var(--olive-drab);
}